@import url('https://fonts.googleapis.com/css?family=Lato:700|Muli:400,700,800&display=swap');
/*color start*/
/*color end*/
/*font start*/
/*font end*/
.h1 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 73px;
  color: #363840;
}
.h2 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #f16334;
}
.h3 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #363840;
}
.h4 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  color: #363840;
}
.h5 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
}
.h6 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7b7d84;
}
.p {
  font-family: 'Muli', sans-serif;
  color: #7b7d84;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 170%;
}
.pb56 {
  padding-bottom: 56px;
}
.pt_0 {
  padding-top: 0;
}
.pt56 {
  padding-top: 56px;
}
.pt_24 {
  padding-top: 24px;
}
.pb_24 {
  padding-bottom: 24px !important;
}
.mt_40 {
  margin-top: 40px;
}
.pb96 {
  padding-bottom: 96px;
}
.pt96 {
  padding-top: 96px;
}
.mt_37 {
  padding-top: 37px;
}
.pr_34 {
  padding-right: 34px;
}
.mtbbb_37 {
  padding: 37px 0;
  border-bottom: 0.5px solid;
  border-bottom-color: #e3e3e3;
}
.bb_bb {
  border-bottom: 0.5px solid #e3e3e3;
}
.mtbb_37 {
  padding: 37px 0;
}
.bg {
  background: #ffffff;
}
.mlmt {
  padding-left: 122px;
  padding-top: 65%;
  padding-bottom: 15%;
}
.mb_32 {
  margin-bottom: 32px;
}
.mt_46 {
  margin-top: 46px;
}
.mb_40 {
  margin-bottom: 40px;
}
.error_md {
  border: 1px solid #fe4747;
}
.ml_40 {
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
}
.ml_40:hover {
  -webkit-box-shadow: 10px 6px 6px 0 rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 10px 6px 6px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 10px 6px 6px 0 rgba(0, 0, 0, 0.17);
}
.cmn_heading {
  width: 31%;
  height: 100px;
  margin: 0 auto 56px;
  overflow: hidden;
}
.cmn_heading h3 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #363840;
}
.cmn_heading h6 {
  padding-top: 15px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7b7d84;
  color: #363840;
}
.mini_head h5 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
}
.mini_head h4 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  color: #363840;
}
.bg_css {
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom_line {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.img_css {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cancel {
  color: #363840 !important;
  border: 1px solid #363840;
}
.cancel:hover {
  background: #eaedf2;
  color: #363840 !important;
  border: 1px solid #363840;
}
.btn {
  background: transparent;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7b7d84;
  color: #f16334 !important;
  border: 1px solid #f16334;
  padding: 12px 23px;
  border-radius: 0;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -ms-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.btn:hover {
  color: #ffffff !important;
  background-color: #f16334;
  border: 1px solid #f16334;
}
.btn:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.after {
  position: absolute;
  content: '';
}
/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/*fix menu*/
@-webkit-keyframes rd-navbar-slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes rd-navbar-slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rd-navbar-slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes rd-navbar-slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.checkout {
  margin: 136px 0;
}
.checkout .heading {
  margin-bottom: 56px;
}
.checkout .heading .steps {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7b7d84;
  font-weight: 700;
  color: #999ba1;
  margin-bottom: 16px;
}
.checkout .heading .titles {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #363840;
  font-size: 32px;
  margin-bottom: 16px;
}
.checkout .heading .terms {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7b7d84;
  color: #999ba1;
}
.checkout .dropbox {
  position: relative;
  border: 2px dotted #dfe3eb;
  padding: 38px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7fa;
}
.checkout .dropbox input#primary {
  cursor: pointer;
  font-size: 18px;
  display: block;
  width: 100%;
  border: none;
  text-transform: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.checkout .dropbox input#primary:focus {
  outline: none;
}
.checkout .dropbox h4 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  color: #363840;
  font-size: 20px;
  color: #7b7d84;
}
.checkout .dropbox h6 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7b7d84;
  color: #999ba1;
}
.checkout .dropbox .btn {
  position: relative;
  z-index: 1;
}
.checkout .summery {
  padding: 24px;
  background: #ffffff;
}
.checkout .summery .titles {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  color: #363840;
  text-transform: capitalize;
  padding-bottom: 24px;
}
.checkout .summery .items {
  padding: 24px 0;
}
.checkout .summery .items .table,
.checkout .summery .total .table {
  margin: 0;
}
.checkout .summery .items .table .text,
.checkout .summery .total .table .text {
  text-align: left;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
}
.checkout .summery .items .table .amount,
.checkout .summery .total .table .amount {
  text-align: right;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
  font-weight: 400;
  color: #999ba1;
}
.checkout .summery .items .table td,
.checkout .summery .total .table td,
.checkout .summery .items .table th,
.checkout .summery .total .table th {
  padding: 0.75rem 0;
}
.checkout .summery .lines {
  position: relative;
}
.checkout .summery .lines::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}
