@import url('https://fonts.googleapis.com/css?family=Lato:700|Muli:400,700,800&display=swap');

@import url('./_varMix.less');
@import url('./_webkits.less');

.checkout {
  margin: 136px 0;
  .heading {
    margin-bottom: 40px;
    .steps {
      .h6;
      font-weight: 700;
      color: #999ba1;
      margin-bottom: 16px;
    }
    .titles {
      .h3;
      font-size: 32px;
      margin-bottom: 16px;
    }
    .terms {
      .h6;
      color: #999ba1;
    }
  }
  .uploads,
  .dropbox {
    position: relative;
    border: 2px dotted #dfe3eb;
    padding: 38px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f7fa;

    input {
      cursor: pointer;
      font-size: 18px;
      display: block;
      width: 100%;
      border: none;
      text-transform: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;

      &:focus {
        outline: none;
      }
    }
    h4 {
      .h4;
      font-size: 20px;
      color: #7b7d84;
    }
    h6 {
      .h6;
      color: #999ba1;
    }
    .btn {
      position: relative;
      z-index: 1;
    }
  }
  .summery {
    padding: 24px;
    background: #ffffff;
    .titles {
      .h4;
      text-transform: capitalize;
      padding-bottom: 24px;
    }
    .items {
      padding: 24px 0;
    }
    .items,
    .total {
      .table {
        margin: 0;
        .text {
          text-align: left;
          font-weight: 400;
          .h5;
        }
        .amount {
          text-align: right;
          .h5;
          font-weight: 400;
          color: #999ba1;
        }
        td,
        th {
          padding: 0.75rem 0;
        }
      }
    }
    .lines {
      position: relative;
      &::after {
        .after;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: #eeeeee;
      }
    }
  }
  .singles,
  .uploads {
    margin: 16px 0;
  }
  .uploads {
    flex-direction: row;
    justify-content: center;
    padding: 26px 20px;
    color: @col3;
    .title{
      .h6;
      color: @col3;
    }
  }
  .singles {
    position: relative;
    background: #ffffff;
    height: 80px;
    margin: 16px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .imgs {
      width: 133px;
      background: #cccccc;
      height: 100%;
      img {
        .img_css;
      }
    }
    .details {
      margin-left: 22px;
      .title {
        .h5;
      }
      .sizes {
        .h6;
        margin-top: 4px;
      }
    }
    .remove {
      position: absolute;
      top: 8px;
      right: 12px;
      background: transparent;
      border: 0;
      &:focus {
        border: 0;
        outline: 0;
      }
    }
  }
  .submits {
    margin-top: 32px;
    .btn {
      width: 100%;
      &:disabled {
        color: #7b7d84 !important;
        border-color: #7b7d84 !important;
        cursor: no-drop;
        &:hover {
          background: transparent;
          color: #7b7d84 !important;
          border-color: #7b7d84 !important;
        }
      }
    }
    .cancel {
      .cancel;
    }
  }
}
